*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.status-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: grey;
    width: 100%;
    padding: 10px 0;
    z-index: 1;
  }
  